* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: content-box;
	font-family: Roboto;
}
body {
	background-color: rgb(80, 74, 74);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.hide {
	display: none !important;
}
.container {
	width: 100%;
}
.container-imc {
	background-color: #180583a8;
	width: 360px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: white;
}
.container-imc h1 {
	text-align: center;
}
#container-calc {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#container-result {
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
}
.container-input {
	display: flex;
	flex-direction: column;
}
.label-default {
	font-size: 1.4rem;
	font-weight: bold;
}
.input-default {
	padding: 1rem;
}
.container-buttons,
.container-buttons-return {
	display: flex;
	gap: 3rem;
}
.button-default {
	flex: 1;
	padding: 1rem;
	border: none;
	font-weight: bold;
	cursor: pointer;
	color: #ffff;
}

.error-information {
	text-align: center;
	color: red;
}

.result-table {
	text-align: left;
}

.title-imc-result {
	text-align: center;
}
.imc-result,
.imc-info {
	color: yellow;
}
table,
th,
td {
	border: 1px solid #ffff;
	/* padding: 2px; */
}
td {
	padding: 4px;
}
